autoflake==1.2
beautifulsoup4==4.6.3
black==19.3b0
colour==0.1.5
datasketch==1.2.10
dataclasses==0.6
diskcache==3.1.1
gspread==3.0.1
gspread_dataframe==3.0.1
isort==4.3.4
oauth2client==4.1.3
google-api-python-client==1.7.4
flake8==3.6.0
mypy==0.641
mysqlclient==1.4.2.post1
nltk==3.4.5
pandas==0.23.4
plotly==4.1.0
psycopg2-binary==2.7.5
PyAthena==1.6.1
profilehooks==1.10.0
yapf==0.25.0
seaborn==0.9.0
snowflake-connector-python==2.8.3
